# Ignore Gradle project-specific cache directory
.gradle

# ignore eclipse-specific settings
.classpath
.project
.settings/

#ignore vscode-specific settings
.vscode/

# Ignore Gradle build output directory
build
bin
